@font-face {
  font-family: 'roboto';
  src: url('../roboto-black-webfont.woff2') format('woff2'),
  url('../roboto-black-webfont.woff') format('woff'),
  url('../roboto-black-webfont.ttf') format('truetype'),
  url('../roboto-black-webfont.svg#robotoblack') format('svg');
  font-weight: 900;
  font-style: normal;

}




@font-face {
  font-family: 'roboto';
  src: url('../roboto-bold-webfont.woff2') format('woff2'),
  url('../roboto-bold-webfont.woff') format('woff'),
  url('../roboto-bold-webfont.ttf') format('truetype'),
  url('../roboto-bold-webfont.svg#robotobold') format('svg');
  font-weight: 700;
  font-style: normal;

}




@font-face {
  font-family: 'roboto';
  src: url('../roboto-mediumitalic-webfont.woff2') format('woff2'),
  url('../roboto-mediumitalic-webfont.woff') format('woff'),
  url('../roboto-mediumitalic-webfont.ttf') format('truetype'),
  url('../roboto-mediumitalic-webfont.svg#robotomedium_italic') format('svg');
  font-weight: 500;
  font-style: italic;

}




@font-face {
  font-family: 'roboto';
  src: url('../roboto-regular-webfont.woff2') format('woff2'),
  url('../roboto-regular-webfont.woff') format('woff'),
  url('../roboto-regular-webfont.ttf') format('truetype'),
  url('../roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: 400;
  font-style: normal;

}